services:
  # Calendar
  nicoSWD\IfscCalendar\Domain\Calendar\IFSCCalendarBuilderFactory:
    class: nicoSWD\IfscCalendar\Domain\Calendar\IFSCCalendarBuilderFactory
    arguments:
      - '@nicoSWD\IfscCalendar\Infrastructure\Calendar\ICalCalendar'
      - '@nicoSWD\IfscCalendar\Infrastructure\Calendar\JsonCalendar'

  nicoSWD\IfscCalendar\Domain\Calendar\IFSCCalendarBuilder:
    class: nicoSWD\IfscCalendar\Domain\Calendar\IFSCCalendarBuilder
    arguments:
      - '@nicoSWD\IfscCalendar\Domain\Calendar\IFSCCalendarBuilderFactory'
      - '@nicoSWD\IfscCalendar\Domain\Event\IFSCEventsFetcher'
      - '@nicoSWD\IfscCalendar\Domain\Calendar\IFSCCalendarPostProcess'

  nicoSWD\IfscCalendar\Domain\Calendar\IFSCCalendarPostProcess:
    class: nicoSWD\IfscCalendar\Domain\Calendar\IFSCCalendarPostProcess
    arguments:
      - '@nicoSWD\IfscCalendar\Domain\Event\IFSCEventSorter'
      - '@nicoSWD\IfscCalendar\Domain\Calendar\PostProcess\Season2024PostProcessor'

  nicoSWD\IfscCalendar\Domain\Calendar\PostProcess\Season2024PostProcessor:
    class: nicoSWD\IfscCalendar\Domain\Calendar\PostProcess\Season2024PostProcessor

  nicoSWD\IfscCalendar\Domain\Calendar\SiteURLBuilder:
    class: nicoSWD\IfscCalendar\Domain\Calendar\SiteURLBuilder
    arguments:
      - '%site_event_url%'

  # Raking
  nicoSWD\IfscCalendar\Domain\Ranking\IFSCWorldRanking:
    class: nicoSWD\IfscCalendar\Domain\Ranking\IFSCWorldRanking
    arguments:
      - '@nicoSWD\IfscCalendar\Infrastructure\Ranking\IFSCApiWorldRankingProvider'

  # Start List
  nicoSWD\IfscCalendar\Domain\StartList\IFSCStartListGenerator:
    class: nicoSWD\IfscCalendar\Domain\StartList\IFSCStartListGenerator
    arguments:
      - '@nicoSWD\IfscCalendar\Infrastructure\StartList\ApiStartListProvider'
      - '@nicoSWD\IfscCalendar\Domain\Ranking\IFSCWorldRanking'

  # YouTube
  nicoSWD\IfscCalendar\Domain\YouTube\YouTubeVideoProvider:
    class: nicoSWD\IfscCalendar\Domain\YouTube\YouTubeVideoProvider
    arguments:
      - '@nicoSWD\IfscCalendar\Infrastructure\YouTube\YouTubeVideoProvider'

  nicoSWD\IfscCalendar\Domain\YouTube\YouTubeLinkMatcher:
    class: nicoSWD\IfscCalendar\Domain\YouTube\YouTubeLinkMatcher
    autowire: true

  nicoSWD\IfscVideos\Domain\YouTube\YouTubeVideoCollection:
    class: nicoSWD\IfscVideos\Domain\YouTube\YouTubeVideoCollection
    arguments:
      - '@nicoSWD\IfscVideos\Infrastructure\YouTube\YouTubeVideoProvider'

  nicoSWD\IfscCalendar\Domain\YouTube\YouTubeLiveStreamFinderFactory:
    class: nicoSWD\IfscCalendar\Domain\YouTube\YouTubeLiveStreamFinderFactory
    arguments:
      - '@nicoSWD\IfscCalendar\Domain\YouTube\YouTubeLinkMatcher'
      - '@nicoSWD\IfscCalendar\Domain\YouTube\YouTubeVideoProvider'

  nicoSWD\IfscCalendar\Domain\YouTube\YouTubeLiveStreamFinder:
    factory: [ '@nicoSWD\IfscCalendar\Domain\YouTube\YouTubeLiveStreamFinderFactory', 'create']

  # Schedule
  nicoSWD\IfscCalendar\Domain\Schedule\IFSCScheduleFactory:
    class: nicoSWD\IfscCalendar\Domain\Schedule\IFSCScheduleFactory
    arguments:
      - '@nicoSWD\IfscCalendar\Domain\Tags\IFSCTagsParser'
      - '@nicoSWD\IfscCalendar\Domain\Round\IFSCRoundNameNormalizer'

  # Events
  nicoSWD\IfscCalendar\Domain\Event\IFSCEventsFetcher:
    class: nicoSWD\IfscCalendar\Domain\Event\IFSCEventsFetcher
    arguments:
      - '@nicoSWD\IfscCalendar\Domain\Round\IFSCRoundsScraper'
      - '@nicoSWD\IfscCalendar\Domain\Event\IFSCEventFactory'
      - '@nicoSWD\IfscCalendar\Domain\Round\IFSCRoundFactory'
      - '@nicoSWD\IfscCalendar\Infrastructure\Event\IFSCApiEventInfoProvider'
      - '@nicoSWD\IfscCalendar\Infrastructure\DomainEvent\SymfonyEventDispatcher'
      - '@nicoSWD\IfscCalendar\Domain\YouTube\YouTubeLiveStreamFinder'

  nicoSWD\IfscCalendar\Domain\Event\IFSCEventFactory:
    class: nicoSWD\IfscCalendar\Domain\Event\IFSCEventFactory
    arguments:
      - '@nicoSWD\IfscCalendar\Domain\Calendar\SiteURLBuilder'
      - '@nicoSWD\IfscCalendar\Domain\Event\IFSCEventSlug'
      - '@nicoSWD\IfscCalendar\Domain\StartList\IFSCStartListGenerator'

  nicoSWD\IfscCalendar\Domain\Event\IFSCEventSlug: ~
  nicoSWD\IfscCalendar\Domain\Event\IFSCEventSorter: ~
  nicoSWD\IfscCalendar\Domain\Event\Helpers\DOMHelper: ~

  # Round
  nicoSWD\IfscCalendar\Domain\Round\IFSCRoundsScraper:
    class: nicoSWD\IfscCalendar\Domain\Round\IFSCRoundsScraper
    arguments:
      - '@nicoSWD\IfscCalendar\Domain\Round\IFSCRoundFactory'
      - '@nicoSWD\IfscCalendar\Infrastructure\Round\InfoSheetRoundProvider'

  nicoSWD\IfscCalendar\Domain\Round\IFSCAverageRoundDuration:
    class: nicoSWD\IfscCalendar\Domain\Round\IFSCAverageRoundDuration
    arguments:
      - '@nicoSWD\IfscCalendar\Domain\Round\IFSCAverageRoundDurationLookupKey'

  nicoSWD\IfscCalendar\Domain\Round\IFSCAverageRoundDurationLookupKey: ~

  nicoSWD\IfscCalendar\Domain\Round\IFSCRoundFactory:
    class: nicoSWD\IfscCalendar\Domain\Round\IFSCRoundFactory
    arguments:
      - '@nicoSWD\IfscCalendar\Domain\Tags\IFSCTagsParser'
      - '@nicoSWD\IfscCalendar\Domain\YouTube\YouTubeLiveStreamFinder'
      - '@nicoSWD\IfscCalendar\Domain\Round\IFSCAverageRoundDuration'

  nicoSWD\IfscCalendar\Domain\Round\IFSCRoundNameNormalizer:
    class: nicoSWD\IfscCalendar\Domain\Round\IFSCRoundNameNormalizer
    arguments:
      - '@nicoSWD\IfscCalendar\Domain\Tags\IFSCTagsParser'

  # Tags
  nicoSWD\IfscCalendar\Domain\Tags\IFSCTagsParser: ~
