:root {
    --jumbotron-padding-y: 3rem;
}

html {
    scroll-behavior: smooth;
}

.news-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.jumbotron {
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
    padding-top: 10px;
}

.jumbotron .container {
    max-width: 40rem;
}

li.ifsc-event {
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.33);
    width: 100%
}

li.ifsc-event:last-child { border-bottom: none; }

#ifsc-league-name {
    font-weight: bold;
    color: #333131;
    text-decoration: none;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
