parameters:
    level: 6
    paths:
        - bin/
        - config/
        - src/
    ignoreErrors:
        -
            message: '#Cannot access property \$[a-zA-Z0-9\\_]+ on array\|object.#'
            paths:
                - src/Infrastructure/Event/IFSCApiEventInfoProvider.php
                - src/Infrastructure/Ranking/IFSCApiWorldRankingProvider.php
